* {
    border: 0px;
    box-sizing: border-box;
}

:root {
    --grid-width: 900px;
    --grid-box: calc( var(--grid-width)/16)
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: var(--grid-width);
}

.gridBox {
    box-shadow: 1px 1px 1px -1px black;
    height: var(--grid-box) ;
    width: var(--grid-box);
    flex: 0 0 auto;
}

.gridBox.active {
    background-color: aqua;
}